<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>MACBOOK</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>MACBOOK</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
 <div></div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static-goldenfrog.netdna-ssl.com/images/vyprvpn/mac/banner_mac.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Vỏ nhôm nguyên khối Unibody bóng bẩy và chắc chắn cùng trọng lượng chỉ tương đương một chiếc Macbook Air thì Macbook Pro Touch MPXV2SA/A có thể mang đi bất cứ đâu mà bạn muốn.</p>
        <div class="clearfix">
          <div class="price pull-left">$1000</div>
          <a href="#" class="btn btn-primary pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>